.btn {
    background-color: var(--main-color);
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    &-stretch {
        display: block;
    }
}