@import '../../mixins.scss';

.ticket {
    margin-top: 20px;
    padding: 20px;
    @include block-shadow;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 36px;
        gap: 10px;
        align-items: center;

        &__price {
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: var(--main-color);
        }

        &__carrier-logo {
            justify-self: end;
            max-height: 36px;
            max-width: 100%;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(39px, auto));
        grid-auto-rows: minmax(39px, auto);
        column-gap: 20px;
        row-gap: 10px;
        margin-top: 20px;

        .label {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #A0B0B9;
            display: block;
        }

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #4A4A4A;
            display: block;
        }
    }
}