.app {
    padding-bottom: 50px;

    &__header {
        padding: 40px 0 30px 0;

        &-logo {
            display: block;
            text-align: center;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: minmax(232px, auto) minmax(502px, auto);
        column-gap: 20px;
    }

}