.wrapper {
    background-color: #E5E5E5;
    min-height: 100vh;
    height: 100%;
}

.app {
    padding: 0 10px;

    &__inner {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @media screen and (min-width: 1024px) {
            max-width: 1024px;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 20px 20px 20px;
    }
}