@import '../../mixins.scss';

.transfer-filter {
    @include block-shadow;
    padding-bottom: 5px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(232px, auto));
        grid-template-rows: repeat(auto-fit, minmax(40px, auto));
    }

    &__title {
        padding: 20px 20px 13px 20px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 40px;

        input[type=checkbox] {
            position: absolute;
            z-index: -1;
            opacity: 0;
            left: 20px;

            &+label {
                position: relative;
                display: inline-flex;
                align-items: center;
                user-select: none;
                width: 100%;
                height: 100%;
                padding-left: 50px;
            }

            &+label:hover {
                &:hover {
                    cursor: pointer;
                    background-color: #F1FCFF;
                }
            }

            &+label::before {
                content: '';
                position: absolute;
                left: 20px;
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #9ABBCE;
                border-radius: 0.25em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 60% 60%;
            }

            &:checked+label::before {
                border-color: var(--main-color);
                background-color: #FFFFFF;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'%3e%3cpath fill='%232196F3' d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z'/%3e%3c/svg%3e");
            }

            /* active checked */
            &:not(:disabled):active+label::before {
                background-color: #FFFFFF;
                border-color: #2196F3;
            }

            /* disabled */
            &:disabled+label::before {
                background-color: #e9ecef;
            }
        }
    }
}