.sorting {
    &__tabs {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid #DFE5EC;
    }

    &__tab {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #4A4A4A;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        padding: 10px;
        /* identical to box height, or 167% */
        text-transform: uppercase;

        &:first-child {
            border-radius: 5px 0 0 5px;
            border-right: 1px solid #DFE5EC;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
            border-left: 1px solid #DFE5EC;
        }
    }

    .active-tab {
        background: #2196F3;
        border: 1px solid #2196F3;
        color: #FFFFFF;
    }
}