.tabs {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        padding: 14px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #DFE5EC;
        border-left: none;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left: 1px solid #DFE5EC;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &-active {
            background-color: var(--main-color);
            color: #fff;
            border-color: var(--main-color);
        }
    }
}