@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2196F3;
}

body {
  color: #4A4A4A;
  font-size: 13px;
  line-height: 20px;
  background: #E5E5E5;
}

.container {
  width: 754px;
  margin: 0 auto;
}