@media (max-width: 1400px) {}

@media (max-width: 1316px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .container {
        width: 542px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .app {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 320px) {}